body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8907;
    flex-direction: column;
}
.form-container {
    background: #8907;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.button {
    width: 100%;
    background: #3b82f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.button:hover {
    background: #2563eb;
}
.link {
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}